body[data-theme="lightTheme"] {
	--primary-color: #3c9d9b;
	--secondary-color: #c0ffb3;
	--tertiary-color: #52de97;
	--text-color: #000000;
	--subtext-color: #394a6d;
	--background-color: #ffffff;
	--card-background-color: #f2fdf0;
	--scroll-bar-color: #000000;
	--box-shadow-color: #2d7877;
	--box-shadow-hover-color: #46bebc;
	--base-font: "Roboto", Arial, sans-serif;
	--code-block-bg: #151f28;
	--code-block-var: #ff39a7;
	--code-block-num: #fed703;
	--code-block-fun: #c653ff;
	--code-block-keyword: #2bdcff;
	--code-block-comment: #8292a2;
	--code-block-tkimp: #fd971f;
}

body[data-theme="darkTheme"] {
	--primary-color: #72ffff;
	--secondary-color: #0096ff;
	--tertiary-color: #00d7ff;
	--text-color: rgba(255, 255, 255, 0.87);
	--subtext-color: #72ffff;
	--background-color: #212121;
	--card-background-color: #000135;
	--scroll-bar-color: #121212;
	--box-shadow-color: #5700f8;
	--box-shadow-hover-color: #0096ff;
	--base-font: "Roboto", Arial, sans-serif;
	--code-block-bg: #151f28;
	--code-block-var: #ff39a7;
	--code-block-num: #fed703;
	--code-block-fun: #c653ff;
	--code-block-keyword: #2bdcff;
	--code-block-comment: #8292a2;
	--code-block-tkimp: #fd971f;
}
